// В этом файле должны быть стили только для БЭМ-блока table, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.



.table {

  $block-name: &; // #{$block-name}__element {}

  &-borderless {

  }
}