// В этом файле должны быть стили для БЭМ-блока promotion, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.promotion {

  $block-name: &; // #{$block-name}__element {}
  background-color: #f6f6f6;
  display: flex;
  height: 360px;
  position: relative;

  @media(max-width: $screen-lg) {
    height: 260px;
  }
  @media(max-width: $screen-md) {
    height: auto !important;
    text-align: center;
  }

  &__img {
    align-self: center;

    @media(max-width: $screen-lg){
      display: none;
    }
  }

  &__text {
    p {
      margin: 0;
    }
  }

  &__description {

  }

  .head-h1, h1 {
    text-transform: uppercase;
    margin-bottom: 13px;
  }

  &--right {
    #{$block-name} {
      &__description {
        padding: 80px 30px 30px 72px;

        @media(max-width: $screen-lg) {
          padding: 30px;
        }
        @media(max-width: $screen-md) {
          padding: 20px;
          text-align: center;
        }
      }

      &__img {
        flex: 0 0 46%;
      }
    }
  }

  &--center {
    background-image: url(../img/promo-img2.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;

    @media(max-width: $screen-lg){
      background-image: none;
    }

    #{$block-name} {
      &__description {
        max-width: 260px;
        text-align: center;
        margin: 0 auto;
        padding: 39px 0px 130px 0px;

        @media(max-width: $screen-lg){
          padding: 30px 0px 30px 0px;
        }
        @media(max-width: $screen-md) {
          max-width: 100%;
          padding: 20px;
        }
      }
    }
  }

  &--mini {
    text-align: center;
    padding-bottom: 20px;


    #{$block-name} {
      &__description {
        width: 100%;
      }

      &__img {
        height: 231px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 2px;

        @media(max-width: $screen-lg){
          height: 135px;
        }

        img {
          max-height: 100%;

          @media(max-width: $screen-lg){
            height: 100px;
          }
        }
      }

      &__title {
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 16px;
      }

      p {
        font-size: 14px;
        line-height: 17px;
        margin: 0;
      }
    }
  }

  &--main2 {
    background-image: url(../img/promo-img4.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    padding: 92px 30px 20px 302px;

    @media(max-width: $screen-lg){
      padding-top: 30px;
      padding-left: 250px;
    }
    @media(max-width: $screen-md) {
      background-image: none;
      padding: 20px !important;
    }

    #{$block-name} {
      &__title {
        text-transform: uppercase;
        margin-bottom: 16px;
      }
    }

    p {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &--main3 {
    height: 233px;
    padding: 39px 255px;
    text-align: center;

    @media(max-width: $screen-lg){
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @media(max-width: $screen-md) {
      padding: 20px;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 260px;
      background-size: cover !important;
      background-position: left center !important;
      background-repeat: no-repeat !important;
      z-index: 0;

      @media(max-width: $screen-md) {
        display: none;
      }
    }

    &:before {
      left: 0;
      background: url("../img/promo-img5.jpg");
    }

    &:after {
      right: 15px;
      background: url("../img/promo-img6.jpg");
    }

    #{$block-name} {
      &__description {
        z-index: 1;
      }
    }
  }


}

