// В этом файле должны быть стили для БЭМ-блока promotion, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.promotion {

  $block-name: &; // #{$block-name}__element {}
  background-color: #f6f6f6;
  position: relative;
  height: auto;
  padding: 7px 20px 0px 20px;

  @media(min-width: $screen-lg){
    display: flex;
    height: 360px;
    text-align: center;
    padding: 0;
  }

  &:hover {

    box-shadow: 0px 0px 50px 0px rgba(116, 116, 116, 0.2);

    #{$block-name} {
      &__price {
        &__block {
          opacity: 0;
          pointer-events: none;
          z-index: -1;
        }
      }

      &__total {
        display: block;
      }
    }
  }

  &__img {
    align-self: center;
    text-align: center;

    @media(min-width: $screen-lg){
      text-align: initial;
    }

    img {
      width: 100%;
      max-width: 300px;

      @media(min-width: $screen-lg){
        width: auto;
        max-width: none;
      }
    }
  }

  &__text {
    p {
      margin: 0;
    }
  }

  &__description {
    word-wrap: break-word;
  }

  &__total {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
  }

  &__buy {
    display: block;
    width: 100%;
  }

  &__title {
    @extend .head-h1;
    @extend .text--promo;
    display: block;

    @media(max-width: $screen-lg){
      margin-bottom: 4px !important;
    }
    @media(min-width: $screen-md){
      display: inline-block;
    }

    &:hover, &:focus {
      @extend .text--promo;
      text-decoration: none;
    }
  }

  &__code {
    color: #999999;
    font-size: 15px;
    margin-bottom: 11px;
  }

  &__discount {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #c2185b;
    color: white;
    padding: 1px 8px;
    font-size: 24px;
    //pointer-events: none;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: -13px;
      width: 10px;
      height: 100%;
      border-style: solid;
      border-width: 38px 13px 0 0;
      border-color: #c2185b transparent transparent transparent;
    }

    &--new {
      background-color: #00bfa5;

      &:after {
        border-color: #00bfa5 transparent transparent transparent;
      }
    }
  }

  &__price {
    color: $color-main--gold;
    font-size: 18px;

    &__block {
      padding-top: 20px;
      position: relative;
    }

    &--discount {
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translate(-50%, -0%);
      color: #333333;
      font-size: 16px;
      text-decoration: line-through;
      text-decoration-color: red;
    }
  }

  .head-h1, h1 {
    text-transform: uppercase;
    margin-bottom: 13px;
  }

  &--right {
    #{$block-name} {
      &__description {

        @media(min-width: $screen-lg) {
          text-align: left;
          padding: 80px 30px 30px 72px;
        }
      }

      &__img {
        flex: 0 0 46%;
      }
    }
  }

  &--center {
    background-image: url(../img/promo-img2-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 105px;
    padding-bottom: 193px;

    @media(max-width: $screen-sm){
    }
    @media(min-width: $screen-sm){
      background-image: url(../img/promo-img2.jpg);
      background-size: contain;
      background-position: bottom;
      padding-bottom: 350px;
    }
    @media(min-width: $screen-lg){
      padding-bottom: 0;

    }

    #{$block-name} {
      &__description {
        text-align: center;
        margin: 0 auto;
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;

        @media(min-width: $screen-md){

        }
        @media(min-width: $screen-lg){
          max-width: 260px;
          padding: 39px 0px 130px 0px;
        }
      }
    }
  }

  &--mini {
    text-align: center;
    padding-bottom: 41px;

    @media(min-width: $screen-lg){
      padding-bottom: 20px;
    }

    #{$block-name} {
      &__description {
        width: 100%;
      }

      &__img {
        height: 224px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 2px;

        @media(min-width: $screen-lg){
          height: 231px;
        }

        img {
          height: auto;
          max-width: 180px;
          max-height: 100%;

          @media(min-width: $screen-lg){
            height: auto;
            max-width: 100%;
          }
        }
      }

      &__title {
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 16px !important;

        @media(min-width: $screen-lg){

        }
      }

      &__text {
        p {
          font-size: 14px;
          line-height: 17px;
          margin: 0;
        }
      }
    }
  }

  &--mini2 {

    @media(min-width: $screen-md){

    }
    @media(min-width: $screen-lg){
      padding: 92px 30px 20px 302px;
    }

    #{$block-name} {
      &__description {
        width: 100%;
      }

      &__img {
        height: 135px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 2px;

        @media(min-width: $screen-lg){
          height: 231px;
        }

        img {
          height: 100px;
          max-height: 100%;

          @media(max-width: $screen-lg){
            height: auto;
          }
        }
      }

      &__title {
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 16px;
      }

      &__text {
        p {
          font-size: 14px;
          line-height: 17px;
          margin: 0;
        }
      }
    }
  }

  &--main2 {
    padding: 305px 20px 1px 20px !important;
    background-image: url(../img/promo-img4-mobile.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    text-align: left !important;

    @media(min-width: $screen-md){
      background-image: url(../img/promo-img4.jpg);
      padding: 50px 30px 40px 302px !important;
      background-position: left center;
    }
    @media(min-width: $screen-lg){
      padding: 92px 30px 20px 302px !important;
    }

    #{$block-name} {
      &__title {
        text-transform: uppercase;
        margin-bottom: 16px;
      }
    }

    p {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &--main3 {
    padding: 220px 20px 232px 20px;
    text-align: center;

    @media(min-width: $screen-md){

    }
    @media(min-width: $screen-lg){
      padding: 39px 255px;
      height: 233px;
    }

    &:before, &:after {
      content: '';
      //display: none;
      position: absolute;
      top: 0;
      height: 220px;
      width: 100%;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: top !important;
      z-index: 0;
      transform: scale(-1, 1);

      @media(min-width: $screen-lg){
        height: 100%;
        width: 260px;
        background-size: cover !important;
        background-position: left center !important;
        background-repeat: no-repeat !important;
        transform: none;
      }
    }

    &:before {
      left: 0;
      background: url("../img/promo-img5.jpg");
    }

    &:after {
      right: 15px;
      background: url("../img/promo-img6.jpg");
      top: auto;
      bottom: 0;

      @media(min-width: $screen-lg){
        bottom: auto;
        top: 0;
      }
    }

    .promo-link {
      top: -9px;

      @media(min-width: $screen-lg){
        top: auto;
      }
    }

    #{$block-name} {
      &__description {
        z-index: 1;
      }
    }
  }

  &--catalog {
    background-color: #fff;
    text-align: center;
    height: auto !important;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;

    #{$block-name} {
      &__description {
        width: 100%;
      }

      &__img {
        display: flex;
        align-items: center;
        padding: 26px 0px;
        margin-bottom: 1px;

        @media(min-width: $screen-lg){
          padding: 34px 0px;
        }

        img {
          margin: 0 auto;
          width: auto;
          max-width: 100%;
          max-height: 180px;
        }
      }

      &__code {

      }

      &__title {
        display: inline-block;
        font-size: 17px;
        color: #333333;
        font-weight: 400;
        text-transform: inherit;
        min-height: auto;
        line-height: 19px;
        //margin-bottom: 10px !important;

        @media(min-width: $screen-lg){
          line-height: normal;
          color: #c79b38;
          font-size: 17px;
          min-height: 38px;
        }
      }

      &__text {
        position: relative;
      }
    }
  }

  &--simple {

    &:hover {
      box-shadow: none;
    }

    #{$block-name} {

    }
  }

}

