// В этом файле должны быть стили для БЭМ-блока promotion, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.promotion {

  $block-name: &; // #{$block-name}__element {}
  background-color: #f6f6f6;
  display: flex;
  height: 360px;
  position: relative;

  @media(max-width: $screen-lg) {
    height: 260px;
  }
  @media(max-width: $screen-md) {
    height: auto !important;
    text-align: center;
  }

  &__img {
    align-self: center;

    @media(max-width: $screen-lg){
      display: none;
    }
  }

  &__text {
    p {
      margin: 0;
    }
  }

  &__description {

  }

  &__title {
    color: #333333;

    &:hover, &:focus {
      color: #333333;
      text-decoration: none;
    }
  }

  &__code {
    color: #999999;
    font-size: 15px;
    margin-bottom: 11px;
  }

  &__discount {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #c2185b;
    color: white;
    padding: 1px 8px;
    font-size: 24px;
    //pointer-events: none;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: -13px;
      width: 10px;
      height: 100%;
      border-style: solid;
      border-width: 38px 13px 0 0;
      border-color: #c2185b transparent transparent transparent;
    }

    &--new {
      background-color: #00bfa5;

      &:after {
        border-color: #00bfa5 transparent transparent transparent;
      }
    }
  }

  &__price {
    color: $color-main--gold;
    font-size: 18px;

    &__block {
      padding-top: 20px;
      position: relative;
    }

    &--discount {
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translate(-50%, -0%);
      color: #333333;
      font-size: 16px;
      text-decoration: line-through;
      text-decoration-color: red;
    }
  }

  .head-h1, h1 {
    text-transform: uppercase;
    margin-bottom: 13px;
  }

  &--right {
    #{$block-name} {
      &__description {
        padding: 80px 30px 30px 72px;

        @media(max-width: $screen-lg) {
          padding: 30px;
        }
        @media(max-width: $screen-md) {
          padding: 20px;
          text-align: center;
        }
      }

      &__img {
        flex: 0 0 46%;
      }
    }
  }

  &--center {
    background-image: url(../img/promo-img2.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;

    @media(max-width: $screen-lg){
      background-image: none;
    }

    #{$block-name} {
      &__description {
        max-width: 260px;
        text-align: center;
        margin: 0 auto;
        padding: 39px 0px 130px 0px;

        @media(max-width: $screen-lg){
          padding: 30px 0px 30px 0px;
        }
        @media(max-width: $screen-md) {
          max-width: 100%;
          padding: 20px;
        }
      }
    }
  }

  &--mini {
    text-align: center;
    padding-bottom: 20px;


    #{$block-name} {
      &__description {
        width: 100%;
      }

      &__img {
        height: 231px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 2px;

        @media(max-width: $screen-lg){
          height: 135px;
        }

        img {
          max-height: 100%;

          @media(max-width: $screen-lg){
            height: 100px;
          }
        }
      }

      &__title {
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 16px;
      }

      p {
        font-size: 14px;
        line-height: 17px;
        margin: 0;
      }
    }
  }

  &--main2 {
    background-image: url(../img/promo-img4.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    padding: 92px 30px 20px 302px;

    @media(max-width: $screen-lg){
      padding-top: 30px;
      padding-left: 250px;
    }
    @media(max-width: $screen-md) {
      background-image: none;
      padding: 20px !important;
    }

    #{$block-name} {
      &__title {
        text-transform: uppercase;
        margin-bottom: 16px;
      }
    }

    p {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &--main3 {
    height: 233px;
    padding: 39px 255px;
    text-align: center;

    @media(max-width: $screen-lg){
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @media(max-width: $screen-md) {
      padding: 20px;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 260px;
      background-size: cover !important;
      background-position: left center !important;
      background-repeat: no-repeat !important;
      z-index: 0;

      @media(max-width: $screen-md) {
        display: none;
      }
    }

    &:before {
      left: 0;
      background: url("../img/promo-img5.jpg");
    }

    &:after {
      right: 15px;
      background: url("../img/promo-img6.jpg");
    }

    #{$block-name} {
      &__description {
        z-index: 1;
      }
    }
  }

  &--catalog {
    background-color: transparent;
    text-align: center;
    height: auto !important;

    #{$block-name} {
      &__description {
        width: 100%;
      }

      &__img {
        display: flex;
        align-items: center;
        padding: 34px 0px;
        margin-bottom: 1px;

        img {
          margin: 0 auto;
          max-width: 200px;
          max-height: 180px;
        }
      }

      &__code {

      }

      &__title {
        display: inline-block;
        font-size: 17px;
        line-height: 19px;
        min-height: 38px;
        margin-bottom: 10px;
      }
    }
  }

}

