// В этом файле должны быть стили для БЭМ-блока catalog, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.catalog {

  $block-name:                &; // #{$block-name}__element {}
  display: block;
  padding-bottom: 37px;

  @media(min-width: $screen-lg){
    display: flex;
    align-items: end;
  }

  &__mobile-nav {
    display: inline-block;
    width: 100%;
    margin-bottom: 7px;

    @media(min-width: $screen-md){
    }
    @media(min-width: $screen-lg){
      display: none;
    }

    .btn {
      width: 100%;
      background: white;
      padding: 11px 0px 11px 0px;
      font-size: 18px;
      box-shadow: 0px 0px 50px 0px rgba(116, 116, 116, 0.2);
      text-transform: uppercase;
      outline: none !important;
      border-radius: 0px;
      color: #333333 !important;

      @media(min-width: $screen-md){

      }

      img {
        vertical-align: baseline;
      }
    }
  }

  &__side {
    position: absolute;
    //box-shadow: 0px 0px 50px 0px rgba(116, 116, 116, 0.2);
    z-index: 2;

    @media(min-width: $screen-lg){
      top: auto;
      width: auto;
      position: relative;
      display: block !important;
      flex: 0 0 255px;
      margin-right: 30px;
    }
    @media(min-width: $screen-md){
      width: 921px;
      top: 106px;
    }
    @media(max-width: 991px){
      width: 680px;
    }
    @media(max-width: $screen-md - 1){
      width: 500px;
      top: 106px;
    }
    @media(max-width: 576px){
      width: 100%;
      left: 0px;
      padding: 0px 20px;
    }

    &__content {
      background-color: #fff;
      box-shadow: 0px 0px 50px 0px rgba(116, 116, 116, 0.2);
      padding: 14px 20px 23px 20px;

      @media(max-width: $screen-lg){

      }
    }

    &__title {
      font-size: 18px;
      text-transform: uppercase;
      color: #666666;
      margin-bottom: 8px;
    }

    &__slider {
      margin-bottom: 17px;
    }

    &__block {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .control {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__content {
    width: 100%;

    &__title {
      @media(min-width: $screen-md+1){
        margin-bottom: 10px;
      }
      @media(min-width: $screen-lg+1){
        margin-top: -11px;
        margin-bottom: 0;
      }
    }

    &__nav {
      margin-bottom: 17px;

      @media(min-width: $screen-md+1){

      }
      @media(min-width: $screen-lg){
        margin-bottom: 27px;
        display: flex;
        justify-content: space-between;
      }

      .bootstrap-select {
        @media(max-width: $screen-md){
          width: 100% !important;
        }
      }
    }

    &__more {
      margin-top: 0px;
      padding-bottom: 12px;
      position: relative;
      text-align: center;
      font-size: 15px;
      color: #333333;

      @media(min-width: $screen-md){
        margin-top: -15px;
      }

      &:after {
        content: '';
        position: absolute;
        //transform: translate(-50%, -50%);
        bottom: 0;
        left: 50%;
        margin-left: -4px;
        transform: rotate(-90deg);
        background-image: url(../img/direction.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 7px;
        height: 13px;
      }

      span {
        cursor: pointer;
      }
    }
  }

  &__sort {

    @media(min-width: $screen-lg+1){
      margin-top: -11px;
    }

    & > * {
      vertical-align: top;
    }
  }

  &__item {
    @include make-row;
    align-items: baseline;

    &--promo {
      #{$block-name} {
        &__item {
          &__block {
            @media(min-width: $screen-sm){
              @include make-col(12);
            }
            @media(min-width: $screen-md){
              @include make-col(12);
            }
            @media(min-width: $screen-lg){
              @include make-col(8);
            }
            @media(min-width: $screen-xl){
              @include make-col(6);
            }
          }
        }
      }

      .promotion {
        &__img {
          padding-top: 40px;
          padding-bottom: 40px;
        }

        &__title {
          color: #333333;
          text-transform: none;
        }
      }
    }

    &__block {
      @include make-col(24);
      padding: 0px 15px !important;
      margin-bottom: 40px;

      @media(min-width: $screen-sm){
        @include make-col(12);
      }
      @media(min-width: $screen-md){
        //@include make-col(8);
      }
      @media(min-width: $screen-lg){
        @include make-col(12);
        margin-bottom: 62px;
      }
      @media(min-width: $screen-xl){
        @include make-col(8);
      }
      @media(max-width: $screen-lg) {

      }

      &:last-child {
        @media(max-width: $screen-md) {
          //margin-bottom: 0;
        }
      }

      .promotion {
        @media(min-width: $screen-sm){
          min-height: 100%;
        }
      }
    }
  }
}
