// В этом файле должны быть стили только для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.page-footer {
  $block-name: &;
  background-color: #f1f1f1;
  padding-top: 17px;
  padding-bottom: 30px;
  //text-align: center;

  @media(min-width: $screen-lg) {
    //text-align: left;
    padding-top: 51px;
    padding-bottom: 51px;
  }

  &-wrapper {
    flex: 0 0 auto;
  }

  &__inner {
    position: relative;
    display: block;

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__content {
    max-width: 415px;
    width: 100%;
    padding-top: 5px;
    padding-right: 10px;

    @media(max-width: $screen-lg){
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      max-width: 100%;
      padding-top: 0;
      padding-right: 0;
      margin-bottom: 10px;
    }

    p {
      font-size: 15px;
      line-height: 20px;
      display: none;

      @media(min-width: $screen-lg){
        display: block;
      }
    }
  }

  .logo {
    margin-top: -3px;

    @media(max-width: $screen-lg){
      margin: 0;
      margin-bottom: 10px;
    }
  }

  &__nav {
    white-space: nowrap;
    padding-top: 2px;
    margin-bottom: 20px;

    @media(max-width: $screen-lg){
      padding-top: 0px;
      width: 100%;
      white-space: normal;
      //margin-bottom: 10px;
    }

    &__block {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      margin-bottom: 10px;

      @media(min-width: $screen-lg){
        width: 208px;
      }

      &:last-child {
        @media(max-width: $screen-lg){
          margin-bottom: 0;
        }
      }
    }

    &__title {
      @extend .head-h3;
      @extend .text--uppercase;
      margin-bottom: 1px;

      @media(max-width: $screen-xl){
        font-size: 15px;
      }
    }

    ul {
      padding: 0;
      list-style: none;
      font-size: 15px;
      margin-bottom: 0;

      @media(min-width: $screen-xl){
        font-size: 18px;
        margin-bottom: 1rem;
      }

      li {
        display: block;
        margin-bottom: 3px;

        &:last-child {
          margin-bottom: 0px;
        }
      }

      a {
        color: #333333;
        text-decoration: none;
        border-bottom: 1px solid rgba(51, 51, 51, 0.5);

        &:hover, &:focus {
          text-decoration: none;
          color: #333333;
        }
      }
    }
  }

  &__info {
    max-width: 152px;
    width: 100%;
    //text-align: right;

    @media(max-width: $screen-lg){
      max-width: 100%;
    }
  }

  &__tel {
    display: inline-block;
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 16px;
    color: #333333;

    &:hover, &:focus {
      color: #333333;
      text-decoration: none;
    }
  }

  &__social {
    margin-bottom: 17px;
  }

  &__sub {
    color: #333333;
    border-bottom: 1px dotted #333333;

    &:hover, &:focus {
      color: #333333;
      text-decoration: none;
    }
  }
}
