// В этом файле должны быть стили для БЭМ-блока slider-mini, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider-mini {

  $block-name:                &; // #{$block-name}__element {}
  padding-bottom: 30px;
  overflow: hidden;

  @media(min-width: $screen-lg){
    height: 360px;
    padding-bottom: 0;
  }

  &__block {
    padding-top: 10px;

    @media(min-width: $screen-lg){
      display: flex !important;
      align-items: center;
      padding: 20px 38px 20px 30px;
    }
  }

  &__img {
    height: 215px;

    @media(min-width: $screen-lg){
      display: inline-block;
      height: auto;
      max-width: 200px;
      margin-right: 20px;
    }

    & + #{$block-name}__description {
      text-align: center;

      @media(min-width: $screen-lg){
        text-align: right;
      }
    }

    img {
      margin: 0 auto;
      height: 100%;

      @media(min-width: $screen-lg){
        margin: 0;
        height: auto;
      }
    }
  }

  .slick-list {
    height: 100%;
  }

  .slick-track {
    height: 100%;
  }

  .slick-slide {
    & > * {
      height: 100%;
    }
  }

  &__block {
    height: 100%;
  }

  .slick-arrow {
    display: none !important;
  }

  .slick-dots {
    bottom: 14px;

    @media(min-width: $screen-lg){
      bottom: 26px;
    }
  }

  &__description {

  }

  &__title {
    @extend .head-h1;
    @extend .text--promo;
    display: inline-block;
    margin-top: 7px !important;
    margin-bottom: 3px !important;

    @media(min-width: $screen-lg){
      margin-top: 38px !important;
      margin-bottom: 0 !important;
    }

    &:hover, &:focus {
      @extend .text--promo;
      text-decoration: none;
    }
  }
}
