// В этом файле должны быть стили для БЭМ-блока main-slider, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-slider {

  $block-name:                &; // #{$block-name}__element {}
  flex: 1 0 auto;
  //height: 350px;
  overflow: hidden;
  padding-bottom: 70px;
  font-size: 0;
  border-bottom: 1px solid #f1f1f1;

  @media(min-width: $screen-lg){
    height: 490px;
    padding-bottom: 0;
  }

  .slick-list {
    height: 100%;
  }

  .slick-track {
    height: 100%;
  }

  .slick-dots {
    bottom: 35px;

    @media(min-width: $screen-lg){
      bottom: 66px;
    }
  }

  .slick-slide {
    height: 100%;

    & > * {
      height: 100%;
    }
  }

  .slick-arrow {

    @media(max-width: $screen-lg){
      transform: translate(-50%, 0%);
      top: auto;
      bottom: 30px;
    }
    @media(min-width: $screen-lg){

    }

    &.slick-prev {
      @media(max-width: $screen-lg){
        left: 30px;
      }
    }

    &.slick-next {
      @media(max-width: $screen-lg){
        right: 20px;
        transform: scale(-1);
      }
    }
  }

  .container {
    height: 100%;
    margin: 0 auto;
    display: block !important;
  }

  &__wrapper {
    display: block;
    height: 100%;


    @media(max-width: $screen-lg){

    }
    @media(min-width: $screen-lg){
      display: flex;
      align-items: center;
      margin: 0px -15px;
    }
  }

  &__img {
    //flex: 0 0 100%;
    padding: 0px 10px;

    @media(max-width: $screen-lg){
      width: 100%;
      display: flex;
      height: 300px;
      align-items: center;
    }
    @media(min-width: $screen-lg){
      flex: 0 0 576px;
    }

    img {
      max-height: 100%;
      max-width: 100%;
      height: auto;

      @media(max-width: $screen-lg){
        margin: 0 auto;
      }
    }
  }

  &__content {
    //display: none;


    @media(max-width: $screen-xl){

    }
    @media(min-width: $screen-lg){
      display: block;
      padding-left: 6px;
      padding-right: 115px;

    }
  }

  &__title {
    @extend .head-h1;
    @extend .text--promo;
    display: inline-block;
    vertical-align: top;

    @media(max-width: $screen-lg){
      margin-bottom: 3px !important;
    }

    &:hover, &:focus {
      @extend .text--promo;
      text-decoration: none;
    }
  }

  .head-h1, h1 {
    margin-bottom: 12px;
    text-transform: uppercase;
  }
}
