// В этом файле должны быть стили только для БЭМ-блока burger, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.burger {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 13px;
  z-index: 2;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  position: relative;
  border: none;

  &__wrapper {
    top: 0;
    right: 0;
    padding: 28px 22px;
    width: 78px;
    height: 78px;
    z-index: 4;
    cursor: pointer;
    @media(max-width: $screen-sm){
      width: 68px;
      height: 68px;
      padding: 23px 20px;
    }
    @media(max-width: $screen-xs){
      width: 50px;
      height: 49px;
      padding: 14px 12px;
    }
  }

  span {
    background-color: #5C5C6D;
    height: 1px;
    display: block;
    width: 20px;
    margin: 6px auto 0;
    border-right: 1px;

    &:before, &:after {
      content: "";
      position: absolute;
      width: 20px;
      height: 1px;
      top: inherit;
      left: 0;
      margin: auto;
      border-radius: 1px;
      background-color: #5C5C6D;

      @media(max-width: $screen-md){
        width: 20px;
      }
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }

  &.active {
    span {
      background-color: transparent;

      &:before {
        transform: rotate(-45deg);
        top: 10px;
      }

      &:after {
        transform: rotate(45deg);
        top: 10px;
      }

      &:before, &:after {
        margin-top: 0;
        //box-shadow: 0 0 0 1px white;
      }
    }
  }

  &--white {
    span {
      background-color: white;

      &:before, &:after {
        background-color: white;
      }
    }
  }
}